qqbot.name: "小鸡气人"
qqbot.appid: "123"
qqbot.secret: "xxxx"

# server
server_host: "http://127.0.0.1"
server_port: "1359"
server_token: "abc"

# menu
help_info: "使用方法：\n1、发送问题，生成答案。\n2、发送 /audio 获取语音能力说明。\n3、发送 /image 获取图像能力说明。\n4、发送 /video 获取视频能力说明。\n"

# chat
system_prompt: ""
chat_type: "gpt"
openai_base_url: "https://api.chatgpt.com"
openai_api_key: "aabbcc"
openai_model: 'gpt-4o-mini'
md_2_img: "1"
enable_chat: ""

# audio
audio_type: "fish"
fish_audio_key: "aabbcc"

# upload
upload_type: "alist"
# alist存储
alist_url: "https://demo.alist.com"
alist_show_url: "https://demo.alist.com"
alist_bash_path: "/Demo/qqdown/"
alist_username: "user"
alist_password: "password"
alist_token: "abc"
alist_token_date: "1900-01-01"

# translate
enable_translate: "1"
translate_type: "baidu"
bd_appid: ""
bd_secret: ""

# image
image_type: "flux"
siliconflow_token: ""
comfyui_host: ""
img_style: 
  blue: "https://example.com/blue.jpg"
hf_token: ""
voice_style: 
  klssm: "https://example.com/klssm.mp3"

# video
video_type: "down"

# database
mysql: "mysql+mysqldb://root:password@localhost:3306/my_database"